main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.btn-black:hover {
  color: rgba(42, 42, 169, 0.176);
}

.img{
  color: red
}

.search-box{
  margin-top: 1.2%;
  margin-left: 0.3%;
  display: inline-block;
}
 
.search-button {
  background-color: #e6eefe94;
  color: #FFFFFF;
  margin-top: 1.3%;
  background: transparent;
  border-left: 0.3rem solid #008bba10;
  transition-duration: 0.4s;
  border-radius: 3px;
  padding: 0.1rem 1em;
  margin: 0.7em 0.0rem 0.1rem;
}

.search-button:hover{
  background-color: #6e6f6e3c;
  color: rgba(245, 244, 244, 0.685) ;
}


/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
  line-height: 1.2rem;
}

.carousel img {
  padding: 30px;
  margin: 40px;
}
.carousel a {
  margin: 0 auto;
}

main.py-10{
  padding-bottom: 1rem;
  padding-top: 1rem;
}
